[Unit]
Description=Run cats update script daily at 8am, 12pm, 3pm, 6pm PST

[Timer]
OnCalendar=*-*-* 08,12,15,18,20:00:00 America/Los_Angeles
# Ensure it runs even if the computer was off during the scheduled time
Persistent=true

[Install]
WantedBy=timers.target
