# place in /etc/systemd/system/cats.service
# sudo systemctl daemon-reload
# sudo systemctl start cats
# sudo systemctl enable cats

[Unit]
Description=HomewardBound Cats Service
After=network.target

[Service]
User=timarbuckle
Group=timarbuckle
#Group=www-data
# The directory where your pyproject.toml and code live
WorkingDirectory=/home/timarbuckle/projects/homewardbound/hbcats
Environment="PATH=/home/timarbuckle/.local/bin:/usr/bin:/usr/local/bin"
EnvironmentFile=/home/timarbuckle/projects/homewardbound/.env
ExecStart=/home/timarbuckle/.local/bin/uv run gunicorn --workers 2 --threads 4 --worker-class gthread --preload --timeout 120 --max-requests 100 --bind 0.0.0.0:8000 hbcats.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
