{% extends 'cats/base.html' %} {% block content %}
<div class="max-w-6xl mx-auto p-4 md:p-6 flex flex-col items-center">

    <div
        id="stats-display"
        class="w-full grid grid-cols-3 gap-2 md:gap-4 mb-6 text-center"
        hx-post="{% url 'update_stats' %}"
        hx-trigger="refreshStats from:body"
        >
        {% include 'cats/stats_bar.html' %}
    </div>

    <div class="flex justify-center w-full mb-6">
        <div class="flex bg-white p-1.5 rounded-lg shadow-sm border border-slate-200 overflow-x-auto w-fit">
            <button
                hx-get="{% url 'cat_list' %}?filter=all&sort={{ current_sort }}&sort_order={{ current_sort_order }}"
                hx-target="#cat-table"
                class="px-4 py-1.5 rounded-md text-xs font-medium hover:bg-slate-100 focus:bg-indigo-100 focus:text-indigo-700 whitespace-nowrap"
            >
                Available
            </button>
            <button
                hx-get="{% url 'cat_list' %}?filter=new&sort={{ current_sort }}&sort_order={{ current_sort_order }}"
                hx-target="#cat-table"
                class="px-4 py-1.5 rounded-md text-xs font-medium hover:bg-slate-100 focus:bg-indigo-100 focus:text-indigo-700 whitespace-nowrap"
            >
                New Arrivals
            </button>
            <button
                hx-get="{% url 'cat_list' %}?filter=adopted&sort={{ current_sort }}&sort_order={{ current_sort_order }}"
                hx-target="#cat-table"
                class="px-4 py-1.5 rounded-md text-xs font-medium hover:bg-slate-100 focus:bg-indigo-100 focus:text-indigo-700 whitespace-nowrap"
            >
                Recently Adopted
            </button>
            <button
                hx-get="{% url 'cat_list' %}?filter=none&sort={{ current_sort }}&sort_order={{ current_sort_order }}"
                hx-target="#cat-table"
                class="px-4 py-1.5 rounded-md text-xs font-medium hover:bg-slate-100 focus:bg-indigo-100 focus:text-indigo-700 whitespace-nowrap"
            >
               All 
            </button>
        </div>
    </div>

    <div class="w-full bg-white rounded-xl shadow-sm border border-slate-200 overflow-hidden">
        <div id="cat-table">{% include 'cats/cat_table.html' %}</div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const catTable = document.querySelector("#cat-table");
        if (catTable) {
            htmx.ajax("GET", "{% url 'cat_list' %}?filter=all&sort=name&sort_order=asc", "#cat-table");
        }
    });
</script>
{% endblock %}
