[Unit]
Description=Run cats update script daily at 6am, 12pm, 6pm PST

[Timer]
# Times converted to GMT: 02:00, 14:00, 20:00
OnCalendar=*-*-* 02,14,20:00:00
#OnCalendar=PST8PDT 06,12,18:00:00
# Ensure it runs even if the computer was off during the scheduled time
Persistent=true

[Install]
WantedBy=timers.target
