{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Pico.css -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.min.css"
        >
        <!--
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'cats/css/output.css' %}" />
        -->
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>
