{% extends "lockdown/base.html" %}
{% block title %}Private Access{% endblock %}

{% block content %}
<main class="container" style="display: flex; min-height: 100vh; align-items: center; justify-content: center;">
  <article style="width: 100%; max-width: 400px; margin: 0;">
    <header style="text-align: center;">
      <h2>Coming soon...</h2>
      <p><small>This is not available to the public.</small></p>
    </header>

    {% if form %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Enter">
    </form>
    {% endif %}
  </article>
</main>
{% endblock %}
